<div class="row">
    <div class="col-lg-6">
        <h1 class="page-header">Atributos</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<form *ngIf="atributo">
    <form class="col-lg-4">
        <div class="row">
            <div class="col-xs-9">
                <div class="form-group">
                    <label>Nome</label>
                    <input class="form-control" [(ngModel)]="atributo.nome" [ngModelOptions]="{standalone: true}" />
                    <p class="help-block">Coloque o nome do atributo.*</p>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <label>Sigla</label>
                    <input class="form-control" [(ngModel)]="atributo.sigla" [ngModelOptions]="{standalone: true}" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-12">
                <label>Descrição</label>
                <textarea class="form-control" rows="3" [(ngModel)]="atributo.descricao" [ngModelOptions]="{standalone: true}"></textarea>
                <p class="help-block">Escreva uma descrição caso.</p>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Tipo</label>
                    <div class="radio">
                        <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" [value]="false" checked="!atributo.dinamico" [(ngModel)]="atributo.dinamico" /><i>Direto</i>
                    </label>
                    </div>
                    <div class="radio">
                        <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" [value]="true" checked="atributo.dinamico" [(ngModel)]="atributo.dinamico" /><i>Indireto</i>
                    </label>
                    </div>
                </div>
            </div>



            <div class="col-md-6">
                <div class="form-group">
                    <label>Valor Base</label>
                    <input class="form-control" type="number" value="0" />
                    <p class="help-block">Valor inicial</p>
                </div>
            </div>



        </div>
    </form>

    <form class="col-lg-6" *ngIf="atributo.dinamico">
        <div class="col-md-8">

            <div class="form-group">
                <label>Precursor</label>
                <select multiple="" class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            </div>

        </div>

        <div class="col-xs-8">
            <div class="col-xs-10">
                <div class="row">
                    <div class="col-xs-6 col-lg-6">
                        <div class="form-group">
                            <label>Função</label>
                            <div class="radio">
                                <label class="radio-inline">
                            <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked=""/><i>×</i>
                        </label>
                                <label class="radio-inline">
                            <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2"/><i>+</i>
                        </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-lg-6">
                        <div class="form-group">
                            <label>Operador</label>
                            <input class="form-control" type="number" value="1" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2 col-lg-2">
                <div class="fa divToRotate">SIGLA</div>
            </div>

        </div>


    </form>

    <form class="row col-xs-12">
        <div class="col-xs-6">
            <div class="form-group col-md-2">
                <button (click)="voltar()" class="btn btn-default">Voltar</button>
            </div>
            <div class="form-group col-md-2">
                <button (click)="salvar()" class="btn btn-default">Salvar</button>
            </div>
            <div class="form-group col-md-2">
                <button (click)="remover(atributo)" class="btn btn-default">Remover</button>
            </div>
            <div class="form-group col-md-2">
                <button (click)="adicionar(atributo)" class="btn btn-default">Adicionar</button>
            </div>
        </div>
    </form>
</form>