<div class="row">
    <div class="col-lg-6">
        <h1 class="page-header">Atributos</h1>
    </div>
    <div class="col-lg-2 col-md-3">
        <br/>
        <div class="panel panel-white">
            <div class="panel-heading">
                <div class="row">
                    <a (click)="vaEditar(atributo = {   
                        id:this.atributos[this.atributos.length-1].id+1,   
                        nome:'',       
                        sigla:'', 
                        descricao:'', 
                        dinamico:false, 
                        baseId:[], 
                        operador:[], 
                        multiadd:[]}
                        )">
                    <div class="col-xs-3">
                        <i class="fa fa-arrows-alt fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="medium">26</div>
                        <div>Criar</div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-md-2" *ngFor="let atributo of atributos" (click)="onSelect(atributo)">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <div class="row">
                    <div>
                        <i class="fa fa-3x">{{atributo.sigla}}</i>
                    </div>
                </div>
                <div class="row">
                    <div class="fa">{{atributo.nome}}</div>
                </div>
            </div>
            <a >
                <div class="panel-footer" (click)="vaEditar(atributo)">
                    <span class="pull-left">Editar</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

</div>
<atributo-detail [atributo] = "atributoSelecionado"></atributo-detail>
