<div class="row">
    <div class="col-lg-8">
        <h1 class="page-header">Livros</h1>
    </div>
    <div class="col-lg-2 col-md-4">
        <br/>
        <div class="panel panel-white">
            <div class="panel-heading">
                <div class="row">
                    <a routerLink="/livro/detalhe">
                    <div class="col-xs-3">
                        <i class="fa fa-arrows-alt fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="medium">26</div>
                        <div>Criar</div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">

        <!-- /.panel-heading -->
        <div class="panel-body">
            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Livro</th>
                        <th>Versão</th>
                        <th>Criaturas</th>
                        <th>Itens</th>
                        <th>Regras</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd gradeX" *ngFor="let livro of livros">
                        <td>{{livro.nome}}</td>
                        <td>{{livro.versao}}</td>
                        <td>{{livro.qtd_criaturas}}</td>
                        <td class="center">{{livro.qtd_itens}}</td>
                        <td class="center">{{livro.qtd_regras}}</td>
                    </tr>
                </tbody>
            </table>
            <!-- /.table-responsive -->

        </div>
        <!-- /.panel-body -->
        <!-- /.panel -->
    </div>
</div>
